@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Thin.woff2') format('woff2'), url('../fonts/Kontora-Thin.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Light.woff2') format('woff2'), url('../fonts/Kontora-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Regular.woff2') format('woff2'), url('../fonts/Kontora-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Medium.woff2') format('woff2'), url('../fonts/Kontora-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Thin.woff2') format('woff2'), url('../fonts/Kontora-Thin.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Bold.woff2') format('woff2'), url('../fonts/Kontora-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-ExtraBlack.woff2') format('woff2'), url('../fonts/Kontora-ExtraBlack.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Black.woff2') format('woff2'), url('../fonts/Kontora-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
}