// Header
.header {
  height: fit-content;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  // .nav__item

  &__item {}

  // .nav__icon

  &__icon {}

  // .nav__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .nav__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
}