.swap {

  .select {
    margin: 0;
  }
}

.swap__label {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: var(--white-color);
}

.swap__group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.swap__icon {
  display: block;
  margin: 16px auto;
}