.tokens {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--lite-color);

  // .tokens__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .tokens__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .tokens__info

  &__info {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .tokens__icon

  &__icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 100%;
    overflow: hidden;
  }

  // .tokens__texts

  &__texts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .tokens__text

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #7187a8;
  }

  // .tokens__text--bold

  &__text--bold {
    font-weight: 800;
    font-size: 14px;
    color: var(--dark-color);
  }

  // .tokens__texts--right

  &__texts--right {
    text-align: right;
  }

  // .tokens__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 12px;
  }

  // .tokens__actives

  &__actives {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  // .tokens__actives-text

  &__actives-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    color: var(--dark-color);
  }

  // .tokens__actives-btn

  &__actives-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 100%;
    background-color: var(--dark-color);
    overflow: hidden;
  }

  // .tokens__actives-img

  &__actives-img {}

  // .tokens__history

  &__history {
    display: inline-flex;
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
  }

}